---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Ocaña.">
	<div class="container">
		<div class="wrapper">
			<div class="box img1"></div>
			<div class="box img2"></div>
			<div class="box img3"></div>
			<div class="box img4"></div>
			<div class="box img5"></div>
			<div class="box img6"></div>
			<div class="box img7"></div>
			<div class="box img8"></div>
			<div class="box img9"></div>
			<div class="box img10"></div>
		</div>
	</div>
	
</Layout>

<style>
	.wrapper{
		display: grid;
		grid-template-rows: 120px 120px 120px 120px;
		grid-template-areas:
		"img1 img1 img2 img3"
		"img1 img1 img6 img6"
		"img4 img5 img6 img6"
		"img7 img8 img9 img10" ;
	}
	.box{
		display: flex;
		font-family: verdana;
		align-items: center;
		justify-content: center;
		font-weight: bold;
		color: white;
	}
	.img1{
		grid-area: img1;
		/*background: orange;*/
		background-image: url(https://i.pinimg.com/564x/9d/05/ae/9d05ae456c055d2ac0c1e733f10ef336.jpg);
		background-size: cover;
		background-position: center;
		
	}
	.img2{
		grid-area: img2;
		/* background: green; */
		background-image: url(https://i.pinimg.com/564x/b0/06/8b/b0068b21fff1f9f635ff66999a5a8d94.jpg);
		background-size: cover;
		background-position: center;
	}
	.img3{
		grid-area: img3;
		/* background: purple; */
		background-image: url(https://i.pinimg.com/564x/5e/b7/8a/5eb78ad5851a6e32501d8e09c06f43e7.jpg);
		background-size: cover;
		background-position: center;
	}
	.img4{
		grid-area: img4;
		/* background: blue; */
		background-image: url(https://i.pinimg.com/564x/37/58/32/3758327e5dc5321b1dff23b765d8518c.jpg);
		background-size: cover;
		background-position: center;
	}
	.img5{
		grid-area: img5;
		/* background: pink; */
		background-image: url(https://i.pinimg.com/564x/be/4f/e9/be4fe98edf701d0d67fe2879e072b76c.jpg);
		background-size: cover;
		background-position: center;
	}
	.img6{
		grid-area: img6;
		/* background: steelblue; */
		background-image: url(https://i.pinimg.com/564x/38/8b/9f/388b9f60ee0a8c54a8fbac6c54cab53f.jpg);
		background-size: cover;
		background-position: center;
	}
	.img7{
		grid-area: img7;
		/* background: yellowgreen; */
		background-image: url(https://i.pinimg.com/564x/46/91/95/469195155e31611faac1ad65d968216d.jpg);
		background-size: cover;
		background-position: center;
	}
	.img8{
		grid-area: img8;
		/* background: orchid; */
		background-image: url(https://i.pinimg.com/564x/43/9a/62/439a62979f6a8405be696d424240bb57.jpg);
		background-size: cover;
		background-position: center;
	}
	.img9{
		grid-area: img9;
		/* background: red; */
		background-image: url(https://i.pinimg.com/564x/d9/48/50/d94850fcf5b891807dc05fdd686ca488.jpg);
		background-size: cover;
		background-position: center;
	}
	.img10{
		grid-area: img10;
		/* background: gray; */
		background-image: url(https://i.pinimg.com/564x/0a/70/c1/0a70c1741b382e18590025742c449715.jpg);
		background-size: cover;
		background-position: center;
	}

</style>
