---
const { title } = Astro.props;

const items = [{
	icon: '', 
	name: 'Opcion 1'
},
{
	icon: '', 
	name: 'Opcion 2'
},
{
	icon: '', 
	name: 'Opcion 3'
}]
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<header>Acá va el encabezado</header>
		<div class="carrousel">Slider de imágenes</div>
		<nav>
			{
				items.map((item) => <a href="#" class="option">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;"><path d="M17 14a5 5 0 0 0 2.71-.81L20 13a3.16 3.16 0 0 0 .45-.37l.21-.2a4.48 4.48 0 0 0 .48-.58l.06-.08a4.28 4.28 0 0 0 .41-.76 1.57 1.57 0 0 0 .09-.23 4.21 4.21 0 0 0 .2-.63l.06-.25A5.5 5.5 0 0 0 22 9V2l-3 3h-4l-3-3v7a5 5 0 0 0 5 5zm2-7a1 1 0 1 1-1 1 1 1 0 0 1 1-1zm-4 0a1 1 0 1 1-1 1 1 1 0 0 1 1-1z"></path><path d="M11 22v-5H8v5H5V11.9a3.49 3.49 0 0 1-2.48-1.64A3.59 3.59 0 0 1 2 8.5 3.65 3.65 0 0 1 6 5a1.89 1.89 0 0 0 2-2 1 1 0 0 1 1-1 1 1 0 0 1 1 1 3.89 3.89 0 0 1-4 4C4.19 7 4 8.16 4 8.51S4.18 10 6 10h5.09A6 6 0 0 0 19 14.65V22h-3v-5h-2v5z"></path></svg>
			{item.name}
		</a>) 
			}
	
	</nav>
	<div class="grid-container">
		<div class="area1">area1</div>
		<div class="area2">area2</div>
		<div class="area3">area3</div>
		<div class="area4">area4</div>


	</div>
		<slot />
	</body>
</html>
<style is:global>
	.grid-container{
		display: grid;
		grid-template-areas: 'area1 area1 area2 area3 area4'
							 'area1 area1 area2 area3 area4';
	}
	.area1{
		grid-area: area1;
		background: purple;
		height: 60px;
	}
	.area2{
		grid-area: area2;
		background: lightcoral;
		height: 60px;
	}
	.area3{
		grid-area: area3;
		background: orange;
		height: 60px;
	}
	.area4{
		grid-area: area4;
		background: lightgreen;
		height: 60px;
	}
	.option{
		text-decoration: none;
		display: flex;
		flex-direction: column;
		background: pink;
		width: 80px;
		height: 100%;
		justify-content: center;
		align-items: center;
		transition: background 300ms ease-in-out;
		&:hover{
			background: orange;
		}
	}
	nav{
		background: rgb(81, 81, 221);
		height: 60px;
		display: flex;
	}
	header {
		background: red;
		height: 36px;
	}

	.carrousel {
		background: green;
		height: 360px;
	}
	
	html, body {
		padding: 0;
		margin: 0;
		font-family: system-ui, sans-serif;

	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
