---
const { title } = Astro.props;
import { Icon } from 'astro-icon/components';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	
	<body>
		<header class="container max-w-7xl mx-auto bg-white h-16 flex  items-center">
			<div class="flex space-x-6">
			<img class="h-6" src="https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE1Mu3b?ver=5c31" alt="">
			<div class="w-[2px] h-6 bg-slate-800"></div>
			<img class="h-6" src="/R.png">
			</div>
			<menu class="ml-8">
				<div class="flex items-center">
				<a href="#" class="hover:underline underline-offset-[6px] decoracion-2">Game pass</a>
				<Icon name="mdi:chevron-down" />
				</div>
			</menu>
		</header>
		<div class="relative">
			<div class="absolute h-full flex items-center">
				<div class="text-white text-5xl font-bold">
					<h1>FINAL FANTASY XIV Online</h1>
				</div>

				
			</div>
		<video aria-label="Ambient video alt text" poster="https://assets.xboxservices.com/assets/45/5a/455a189b-0e7a-48bc-a966-9bf5ec8c08c2.jpg?n=896254_Page-Hero-1084_1920x720_01.jpg" muted="" autoplay="" loop="" alt="Video de FINAL FANTASY XIV Online con imágenes del juego y cinemáticas"><source class="heroImgDesktop" src="https://assets.xboxservices.com/assets/12/ff/12ff90f8-439f-42a6-892b-1bf80f02f027.mp4?n=FFXIV-Online_HP-Video_1920x720_04.mp4" type="video/mp4" srcset="https://assets.xboxservices.com/assets/12/ff/12ff90f8-439f-42a6-892b-1bf80f02f027.mp4?n=FFXIV-Online_HP-Video_1920x720_04.mp4"></video>
		</div>
	</nav>
	<!-- <div class="grid-container">
		<div class="area1">area1</div>
		<div class="area2">area2</div>
		<div class="area3">area3</div>
		<div class="area4">area4</div>
 -->

	</div>
		<slot />
	</body>
</html>
<style is:global>
	.grid-container{
		display: grid;
		/* grid-template-areas: 'area1 area1 area2 area3 area4' */
							 /* 'area1 area1 area2 area3 area4'; */
	}
	/* .area1{
		grid-area: area1;
		background: purple;
		height: 60px;
	}
	.area2{
		grid-area: area2;
		background: lightcoral;
		height: 60px;
	}
	.area3{
		grid-area: area3;
		background: orange;
		height: 60px;
	}
	.area4{
		grid-area: area4;
		background: lightgreen;
		height: 60px;
	} */
	.option{
		text-decoration: none;
		display: flex;
		flex-direction: column;
		background: pink;
		width: 80px;
		height: 100%;
		justify-content: center;
		align-items: center;
		transition: background 300ms ease-in-out;
		&:hover{
			background: orange;
		}
	}
	nav{
		background: rgb(81, 81, 221);
		height: 60px;
		display: flex;
	}
	header {
		background: red;
		height: 36px;
	}

	.carrousel {
		background: green;
		height: 360px;
	}
	
	html, body {
		padding: 0;
		margin: 0;
		font-family: system-ui, sans-serif;

	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
